{% extends "base.html" %}

{% block content %}
<div class="row">
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <br><br><br>
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=100, rows=5, class_="form-control") }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}

    {% for post in posts %}
        {% include 'post.html' %}
    {% endfor %}

</div>
{% endblock %}
